*.pyc
.idea/
data/
src/build
*.dat
*.dat.pkl
build
dist
pybirales.egg-info


*.log
*.swp
*.h5
*.pkl
pybirales/backend/plots/*
pybirales/backend/services/calibrator
pybirales/frontend/app/static/node_modules

