*.pyc
.idea/
data/
*.dat
build
dist
pybirales.egg-info
venv/
.eggs
*.log
*.swp
*.h5
*.pkl
*.ipynb_checkpoints
env
pybirales/pipeline/plots/*
pybirales/services/calibrator
pybirales/app/static/node_modules

pybirales/pipeline/modules/detection/*.png
pybirales/services/scripts/**/*.png
pybirales/services/scripts/**/*.csv
pybirales/services/scripts/**/*.npy
pybirales/services/scripts/**/*.mat
pybirales/services/scripts/**/*.lprof
pybirales/services/scripts/**/*.pdf
pybirales/services/scripts/**/*.tree