*.pyc
.idea/
data/
src/build
*.dat
*.dat.pkl
pybirales/back-end/build
pybirales/back-end/dist
pybirales/back-end/pybirales.egg-info


*.log
*.swp
*.h5
*.pkl
pybirales/back-end/plots/*
pybirales/back-end/services/calibrator
pybirales/front-end/static/node_modules