.footer nav > ul.nav-footer-logos a.nav-footer-logo {
    margin: 0;
    padding: 0;
}

.footer nav > ul.nav-footer-logos a.nav-footer-logo img {
    height: 40px;
    padding: 0 5px;
    margin: 10px 0;
}

.chart.plotly{
    height: 450px
}
