{% extends "includes/layout.html" %}
{% block title %}Orbit Determination Input{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Detected Beam Candidates</h4>
                        <p class="category">Channel: {{ min_channel }} Mhz to {{ max_channel }} Mhz |
                            Time {{ min_time }}
                            to {{ max_time }}</p>
                    </div>
                    {% for candidate in candidates %}
                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <caption>
                                    Beam {{ candidate['beam']['id'] }}
                                    (DEC: {{ candidate['beam']['dec'] }},
                                    RA: {{ candidate['beam']['ra'] }}),
                                    candidate {{ candidate['_id'] }}
                                </caption>
                                <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>MJD2000</th>
                                    <th>Time Elapsed (s)</th>
                                    <th>Doppler (Hz)</th>
                                    <th>Frequency (MHz)</th>
                                    <th>SNR (Db)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in range(0, candidate['data']['time'] | length) %}
                                    <tr>
                                        <td>{{ candidate['data']['time'][i].iso }}</td>
                                        <td>{{ candidate['data']['time'][i].mjd }}</td>
                                        <td>{{ '-' }}</td>
                                        <td>{{ candidate['data']['doppler_shift'][i] }}</td>
                                        <td>{{ candidate['data']['channel'][i] }}</td>
                                        <td>{{ candidate['data']['snr'][i] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}