<h3>Data set information table</h3>
<table class="table table-striped table-sm">
    <tbody>
        <tr>
            <th>Observation</th>
            <td>{{ observation }}</td>
        </tr>
        <tr>
            <th>Data Set</th>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <th>Observation Time</th>
            <td>{{ human_timestamp }}</td>
        </tr>
        <tr>
            <th>Processed Time</th>
            <td>{{ created_at }}</td>
        </tr>

        <tr>
            <th>Transmitter Frequency (Mhz)</th>
            <td>{{ transmitter_frequency }}</td>
        </tr>
        <tr>
            <th>Sampling Time (s)</th>
            <td>{{ sampling_time }}</td>
        </tr>
        <tr>
            <th>Number of Beams</th>
            <td>{{ nbeams }}</td>
        </tr>
    </tbody>
</table>



