{% extends "common/layout.html" %}
{% block title %}Monitoring{% endblock %}
{% set active_page = "monitoring" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Beam Candidates</h4>

                        <p class="category">Live</p>
                    </div>

                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date From</label>
                                        <input type="date" class="form-control" id="monitoring-date-from"/>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date To</label>
                                        <input type="date" class="form-control" id="monitoring-date-to"/>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="chart plotly responsive-plot" id="doppler-profile-plot"
                             data-chart-tx="{{ tx }}"
                             data-chart-beam_id="{{ beam_id }}"
                             data-chart-min_channel="{{ min_channel }}"
                             data-chart-max_channel="{{ max_channel }}"
                             data-chart-min_time="{{ from_time }}"
                             data-chart-max_time="{{ to_time }}"
                        >

                        </div>
                        <div class="footer">
                            <hr/>
                            <div class="stats">
                                <i class="fa fa-history"></i> <span id="beam-candidates-last-updated"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">SNR Profile</h4>

                        <p class="category">Live</p>
                    </div>

                    <div class="content">
                        <div class="chart plotly responsive-plot" id="snr-profile-plot"
                             data-chart-tx="{{ tx }}"
                             data-chart-beam_id="{{ beam_id }}"
                             data-chart-min_channel="{{ min_channel }}"
                             data-chart-max_channel="{{ max_channel }}"
                             data-chart-min_time="{{ from_time }}"
                             data-chart-max_time="{{ to_time }}"
                        >

                        </div>
                        <div class="footer">
                            <hr/>
                            <div class="stats">
                                <i class="fa fa-history"></i> <span id="beam-candidates-last-updated"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Orbit Determination Data</h4>

                        <p class="category">Live</p>
                    </div>
                    <div class="content">
                        <div id="live-beam-candidates-od-table">
                            <p>Click <a href="{{ url_for('monitoring_page.get_orbit_determination_table',
                                    beam_id=beam_id,
                                    min_channel=min_channel,
                                    max_channel=max_channel,
                                    min_time=min_time,
                                    max_time=max_time) }}">here</a> for the orbit determination table</p>
                        </div>

                        <div class="footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/plotters/snr_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/doppler_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/manager.js') }}"></script>

    <script>
        $(document).ready(function () {
            var socket = io('/');

            function update_beam_data(){
                socket.emit(new Date($("#monitoring-date-from").val()),
                            new Date($("#monitoring-date-to").val()), '{{ min_channel }}', '{{ max_channel }}')
            }

            $("#monitoring-date-from").flatpickr({
                defaultDate: '{{ from_time }}',
                enableTime: true,
                time_24hr: true,
                onValueUpdate: update_beam_data()
            });

            $("#monitoring-date-to").flatpickr({
                defaultDate: '{{ to_time }}',
                enableTime: true,
                time_24hr: true,
                onValueUpdate: update_beam_data()
            });

            var plotting_manager = new PlottingManager(socket);

            plotting_manager.addPlot('beam_candidates', new DopplerProfilePlotter('doppler-profile-plot'));
            plotting_manager.addPlot('beam_candidates', new SNRProfilePlot('snr-profile-plot'));
            plotting_manager.init();

            socket.on('connect', function () {
                log.info('Connected!');
                socket.emit('beam_candidates', '{{ beam_id }}', '{{from_time  }}', '{{ to_time }}', '{{ min_channel }}', '{{ max_channel }}')
            });

            socket.on('disconnect', function () {
                log.error('Disconnected!');
            });

            socket.on('error', function (err) {
                log.error('An error has occurred on server side.');
            });

            socket.on('connect_error', function (err) {
                log.error('Could not establish a connection');
            });
        });
    </script>
{% endblock %}