{% extends "common/layout.html" %}
{% block title %}Monitoring{% endblock %}
{% set active_page = "monitoring" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="monitoring-date-from">Date From</label>
                                        <input type="date" class="form-control" id="monitoring-date-from"/>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="monitoring-date-to">Date To</label>
                                        <input type="date" class="form-control" id="monitoring-date-to"/>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="monitoring-date-to">Live Updates</label>
                                        <div class="toggle-form-fix">
                                            <input type="checkbox" checked data-toggle="toggle"
                                                   id="monitoring-enable-polling">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h5 class="title">Doppler profile</h5>
                    </div>

                    <div class="content">
                        <canvas id="doppler-profile-plot"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h5 class="title">SNR Profile</h5>
                    </div>

                    <div class="content">
                        <canvas id="snr-profile-plot"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/plotters/snr_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/doppler_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/track_doppler_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/track_snr_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/manager.js') }}"></script>

    <script>
        $(document).ready(function () {
            var date_from = $('#monitoring-date-from');
            var date_to = $('#monitoring-date-to');
            var min_channel = $('#monitoring-min-channel');
            var max_channel = $('#monitoring-max-channel');
            var polling = true;
            var default_data = {
                date_from: '{{ from_time }}',
                date_to: '{{ to_time }}',
                min_channel: {{ min_channel }},
                max_channel: {{ max_channel }}
            };


            function get_default_value(key) {
                var stored_value = localStorage.getItem(key);
                if (stored_value !== null) {
                    // If selector is found in local storage, restore it
                    return stored_value;
                }

                var default_server_value = default_data[key];
                if (default_server_value !== null) {
                    // Set the value of the selector, with the default sent by the server
                    return default_data[key];
                }

                return null;
            }

            min_channel.val(get_default_value('min_channel')).change(function () {
                update_beam_data();
                localStorage.setItem('min_channel', this.value);
            });

            max_channel.val(get_default_value('max_channel')).change(function () {
                update_beam_data();
                localStorage.setItem('max_channel', this.value);
            });


            var f_date_from = date_from.flatpickr({
                defaultDate: get_default_value('date_from'),
                enableTime: true,
                time_24hr: true,
                allowInput: true,
                enableSeconds: true,
                onValueUpdate: function () {
                    update_beam_data(null, null);
                    localStorage.setItem('date_from', this.input.value);
                }
            });

            var f_date_to = date_to.flatpickr({
                defaultDate: get_default_value('date_to'),
                enableTime: true,
                time_24hr: true,
                enableSeconds: true,
                allowInput: true,
                onValueUpdate: function () {
                    update_beam_data(null, null);
                    localStorage.setItem('date_to', this.input.value);
                }
            });


            var plot = new TrackDopplerProfilePlotter('doppler-profile-plot');
            var plot2 = new TrackSNRProfilePlotter('snr-profile-plot');

            function update_beam_data(from, to) {
                if (from == undefined) {
                    from = new Date(date_from.val() + 'Z').toISOString();
                }

                if (to == undefined) {
                    to = new Date(date_to.val() + 'Z').toISOString()
                }

                log.info('Fetching new data');
                plot.update(from, to);
                plot2.update(from, to);
            }

            function poll_for_updates() {
                from = null;
                now = new Date();

                f_date_to.setDate(now);
                update_beam_data(null, now.toUTCString());
                if (polling) {
                    setTimeout(poll_for_updates, 5000);
                } else {
                    log.debug('Polling stopped');
                }
            }

            window.onbeforeunload = function () {
                localStorage.setItem('date_from', date_from.val());
                localStorage.setItem('date_to', date_to.val());
                localStorage.setItem('min_channel', min_channel.val());
                localStorage.setItem('max_channel', max_channel.val());
            };

            $('#monitoring-enable-polling').bootstrapToggle({
                on: 'Enabled',
                off: 'Disabled'
            }).change(function () {
                if ($(this).prop('checked')) {
                    log.debug('Enable polling');
                    polling = true;
                    poll_for_updates();
                } else {
                    log.debug('Disable polling');
                    polling = false;
                }
            });

            poll_for_updates();
        });
    </script>
{% endblock %}