{% extends "common/layout.html" %}
{% block title %}Monitoring{% endblock %}
{% set active_page = "monitoring" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Date From</label>
                                        <input type="date" class="form-control" id="monitoring-date-from"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Date To</label>
                                        <input type="date" class="form-control" id="monitoring-date-to"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Min Channel</label>
                                        <input type="number" class="form-control" id="monitoring-min-channel"
                                               step="0.0001"/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Max Channel</label>
                                        <input type="number" class="form-control" id="monitoring-max-channel"
                                               step="0.0001"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Beam Candidates</h4>
                        <p class="category">Live</p>
                    </div>

                    <div class="content">
                        <canvas id="doppler-profile-plot"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">SNR Profile</h4>

                        <p class="category">Live</p>
                    </div>

                    <div class="content">
                        <canvas id="snr-profile-plot"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/plotters/snr_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/doppler_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/track_doppler_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/track_snr_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotters/manager.js') }}"></script>

    <script>
        $(document).ready(function () {
            {#            var ORBIT_DETERMINATION_URL = "/monitoring/beam_candidates/table?";#}

            {#            var socket = io('/');#}

            var date_from = $('#monitoring-date-from');
            var date_to = $('#monitoring-date-to');
            var min_channel = $('#monitoring-min-channel');
            var max_channel = $('#monitoring-max-channel');

            var default_data = {
                date_from: '{{ from_time }}',
                date_to: '{{ to_time }}',
                min_channel: {{ min_channel }},
                max_channel: {{ max_channel }}
            };


            function get_default_value(key) {
                var stored_value = localStorage.getItem(key);
                if (stored_value !== null) {
                    // If selector is found in local storage, restore it
                    return stored_value;
                }

                var default_server_value = default_data[key];
                if (default_server_value !== null) {
                    // Set the value of the selector, with the default sent by the server
                    return default_data[key];
                }

                return null;
            }

            min_channel.val(get_default_value('min_channel')).change(function () {
                update_beam_data();
                localStorage.setItem('min_channel', this.value);
            });

            max_channel.val(get_default_value('max_channel')).change(function () {
                update_beam_data();
                localStorage.setItem('max_channel', this.value);
            });


            date_from.flatpickr({
                defaultDate: get_default_value('date_from'),
                enableTime: true,
                time_24hr: true,
                allowInput: true,
                onValueUpdate: function () {
                    update_beam_data();
                    localStorage.setItem('date_from', this.input.value);
                }
            });

            date_to.flatpickr({
                defaultDate: get_default_value('date_to'),
                enableTime: true,
                time_24hr: true,
                allowInput: true,
                onValueUpdate: function () {
                    update_beam_data();
                    localStorage.setItem('date_to', this.input.value);
                }
            });


            var plot = new TrackDopplerProfilePlotter('doppler-profile-plot');
            plot.update(new Date(date_from.val() + 'Z').toISOString(), new Date(date_to.val() + 'Z').toISOString());

            var plot2 = new TrackSNRProfilePlotter('snr-profile-plot');
            plot2.update(new Date(date_from.val() + 'Z').toISOString(), new Date(date_to.val() + 'Z').toISOString());

            function update_beam_data() {
                log.info('Fetching new data');
                plot.update(new Date(date_from.val() + 'Z').toISOString(), new Date(date_to.val() + 'Z').toISOString());
                plot2.update(new Date(date_from.val() + 'Z').toISOString(), new Date(date_to.val() + 'Z').toISOString());
            }

            window.onbeforeunload = function () {
                localStorage.setItem('date_from', date_from.val());
                localStorage.setItem('date_to', date_to.val());
                localStorage.setItem('min_channel', min_channel.val());
                localStorage.setItem('max_channel', max_channel.val());
            };

        });
    </script>
{% endblock %}