{% extends "common/layout.html" %}
{% block title %}Observation{% endblock %}
{% set active_page = "observations" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Create Observation</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="obs-name">Observation Name</label>
                                        <input id="obs-name" type="text" class="form-control" value="Name of the observation"
                                               required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="obs-start-time">Start Observation At</label>
                                        <input id="obs-start-time" type="datetime-local" class="form-control"
                                               placeholder="Start time of observation">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="obs-end-time">Stop Observation At</label>
                                        <input id="obs-end-time" type="datetime-local" class="form-control"
                                               placeholder="End time of observation">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="obs-configurations">Configuration</label>
                                        <select id="obs-configurations" multiple option-control=true class="multi-line">
                                            {% for configuration in configurations %}
                                                <option value="{{ configuration.file_name }}">
                                                    {{ configuration.name }} [{{ configuration.env }}]
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="obs-configurations-container"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Create Observation</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function () {
            var config_end_point = "{{ config_end_point }}";
            var obs_start_time = $('#obs-start-time').flatpickr({
                enableTime: true,
                time_24hr: true,
                allowInput: true
            });

            var obs_end_time = $('#obs-end-time').flatpickr({
                enableTime: true,
                time_24hr: true,
                allowInput: true
            });

            $('#obs-configurations').selectric().on('change', function () {
                var config_id = $(this).val();
                $.ajax(config_end_point + '/' + config_id)
                        .done(function () {
                            log.debug('Loading configuration container with data from config', config_id);
                        })
                        .fail(function () {
                            log.debug('An error has occurred whilst retrieving configuration', config_id);
                        })
            });
        });
    </script>
{% endblock %}