{% for candidate in candidates %}
<h4>Beam {{ beam_id }}: RA: {{ pointings[beam_id][0] }} deg, DEC: {{ pointings[beam_id][1] }} deg</h4>
<table class="table table-responsive">
    <thead>
    <tr>
        {% for row_key in candidate['data'].keys() %}
        <th class="od_value">{{ row_key }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for i in range(0, candidate['data'][candidate['data'].keys()[0]] | length ) %}
    <tr>
        {% for row_key in candidate['data'].keys() %}
        <td class="od_value">{{ candidate['data'][row_key][i] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endfor %}