{% extends "modules/observations/create/layout.html" %}
{% block observation_mode %}
    {% from "modules/helpers/_formhelpers.html" import render_field %}
    <form id="obs-create-form" action="{{ url_for('observations_page.create', mode='detection') }}" method="post">
        <div class="row">
            <div class="col-sm-6">
                {{ render_field(form.obs_name, id='obs-name', class='form-control') }}
            </div>
            <div class="col-sm-3">
                {{ render_field(form.date_start, class='form-control', type="datetime" ) }}
            </div>
            <div class="col-sm-3">
                {{ render_field(form.date_end, class='form-control', type="datetime" ) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                {{ render_field(form.target_name, class='form-control') }}
            </div>
            <div class="col-sm-4">
                {{ render_field(form.declination, class='form-control') }}
            </div>
            <div class="col-sm-4">
                {{ render_field(form.transmitter_frequency, class='form-control') }}
            </div>
        </div>

        <button type="submit" class="btn btn-info btn-fill pull-right">Create Observation</button>
        <div class="clearfix"></div>
    </form>
{% endblock %}