.footer p.copyright {
    height: 50px;
    line-height: 30px;
}

.footer-img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 50px;
    margin: 10px auto;
}

#uom_logo {
    background-image: url(../img/uom_logo_black.png);
}

#inaf_logo {
    background-image: url(../img/inaf_logo.svg);
}

caption {
    padding-left: 15px;
}

.header .top-corner {
    position: absolute;
    top: 15px;
    right: 30px;
}

.sidebar {
    width: 220px;
}

.sidebar .sidebar-wrapper, body > .navbar-collapse .sidebar-wrapper {
    width: 220px;
}

@media (min-width: 992px) {
    .main-panel {
        width: calc(100% - 220px);
    }
}

.pagination {
    margin: 0 20px 10px 20px
}

.table > tbody > tr > td {
    padding: 5px 5px;
}

table.table.observation-table {
    font-size: 10px;
    margin-top: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table.table.observation-table > tbody > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;
}

table.table.observation-table > tbody > tr > th {
    text-transform: uppercase;
    font-weight: normal;
}

div.author > h5.title {
    overflow-wrap: break-word;
}

div.author > h6.subtitle {
    font-weight: 300;
    font-size: 11px;
    margin-top: 20px;
}

#no-detections-container {
    text-align: center;
    height: 350px;
    line-height: 340px;
    font-size: 18px;
}

.chart-legend li span {
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 10px;
}

.sidebar .nav > li.stop-obs {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav > li.stop-obs a {
    background: red;
    opacity: 0.6;
    color: #FFFFFF;
}

.blink {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.50;
    }
    100% {
        opacity: 1.0;
    }
}

.full-width-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
}

.full-width-overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.full-width-overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.full-width-overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.full-width-overlay .full-width-close-btn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.card .btn-header {
    padding-top: 15px;
}

.card .btn-header div {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e5e5e5;
}

.card {
    border-radius: 0;
}

.sidebar .nav li > a {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}


.card .table tbody td:first-child, .card .table thead th:first-child {
    white-space: nowrap;
}

.label {
    border-radius: 0;
}
