.footer nav > ul.nav-footer-logos a.nav-footer-logo {
    margin: 0;
    padding: 0;
}

.footer nav > ul.nav-footer-logos a.nav-footer-logo img {
    height: 40px;
    padding: 0 5px;
    margin: 10px 0;
}

.chart.plotly {
    /*height: 450px*/
}

caption {
    padding-left: 15px;
}

.header .top-corner {
    position: absolute;
    top: 15px;
    right: 30px;
}

.sidebar {
    width: 220px;
}

.sidebar .sidebar-wrapper, body > .navbar-collapse .sidebar-wrapper {
    width: 220px;
}

@media (min-width: 992px) {
    .main-panel {
        width: calc(100% - 220px);
    }
}

.pagination {
    margin: 0 20px 10px 20px
}

.table  > tbody > tr > td {
    padding: 5px 5px;
}


table.table.observation-table {
    font-size: 10px;
    margin-top: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table.table.observation-table > tbody > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;
}

table.table.observation-table > tbody > tr > th {
    text-transform: uppercase;
    font-weight: normal;
}

div.author > h5.title {
    overflow-wrap: break-word;
}

div.author > h6.subtitle {
    font-weight: 300;
    font-size: 11px;
    margin-top: 20px;
}

#no-detections-container {
    text-align: center;
    height: 350px;
    line-height: 340px;
    font-size: 18px;
}


.chart-legend li span{
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 10px;
}