.footer nav > ul.nav-footer-logos a.nav-footer-logo {
    margin: 0;
    padding: 0;
}

.footer nav > ul.nav-footer-logos a.nav-footer-logo img {
    height: 40px;
    padding: 0 5px;
    margin: 10px 0;
}

.chart.plotly {
    height: 450px
}

caption {
    padding-left: 15px;
}

.header .top-corner {
    position: absolute;
    top: 15px;
    right: 30px;
}

.sidebar {
    width: 220px;
}

.sidebar .sidebar-wrapper, body > .navbar-collapse .sidebar-wrapper {
    width: 220px;
}

@media (min-width: 992px) {
    .main-panel {
        width: calc(100% - 220px);
    }
}

.pagination {
    margin: 0 20px 10px 20px
}